[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pylint = "*"
pydantic = "*"
pytest = "*"
requests = "*"
sqlalchemy-utils = "*"
gunicorn = "*"
python-socketio = "*"
typing = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
